* {
    background: rgb(210, 192, 221);
    list-style: none;
}

body{
    
}

.heading {
    text-align: center;
    font-size: 30px;
}

#beautytext {
    font-family: "Dancing Script";
    font-size: 40px;
}

#image {
    position: absolute;
    border-radius: 150px;
    border: -5px solid white;
    margin-left: 10%;
}

a {
    display: inline-block;
    border: 2px solid black;
    border-radius: 15px ;
    text-align: center;
    padding: 12px;
    text-decoration:none;
    background-color: #ffd685;
    font-weight: bold;
    color: black;
    width: 100px;
    height: 50px;
    vertical-align: middle;
}

a:hover {
    background-color: #cc8700;
    color: white;
    transition: .4s;
}

ul li{
    display: inline-block;
}
